// Custom styles.

.container.page-home{
  position: initial;
  .header {
    background: #151515;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .header-inner{
    top: 50%;
    margin-top: -150px;
  }
  .brand{
    background:none;
  }
  .menu .menu-item a{
    color:#aaa;
    &:hover{
      border-bottom-color: #999;
      color: #999;
    }
  }
  .main {
    padding-bottom: 150px;
  }
  .footer{
    position: initial;
  }
}

.site-title{
  text-transform: uppercase;
}

.main-inner,.header-inner{
  width:860px;
}

.page-post-detail,.page-archive{
  .brand{
    padding:0;
    background:none;
  }
  .header{
    background:#000;
    .header-inner{
      padding:10px;
      height:45px;
    }
    .site-brand-wrapper{
      float:left;
    }
    .site-nav{
      float:left;
      margin-left:20px;
    }

    .menu{
      margin:6px;
      .menu-item a{
        color:#aaa;
        &:hover{
          border-bottom-color: #999;
          color: #999;
        }
        i,br{
          display:none;
        }
      }
    }
  }

  .main {
    margin-top:20px;
  }
}













