// Custom styles.

.container.page-home{
  position: initial;
  .header {
    background: #151515;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .header-inner{
    top: 50%;
    margin-top: -150px;
  }
  .brand{
    background:none;
  }
  .menu .menu-item a:hover{
    border-bottom-color: #999;
    color: #999;
  }
  .main {
    padding-bottom: 150px;
  }
  .footer{
    position: initial;
  }
}

.site-title{
  text-transform: uppercase;
}













